@model List<WebApp.ViewModels.GameListViewModel>

@{
    ViewData["Title"] = "Game List";
}

<h2>Games</h2>

@if (Model == null || !Model.Any())
{
    <p>Looks like you are too picky! We currently do not have any games with the selected filter, choose another filter!</p>
}
else
{
    <div class="row">
        @foreach (var game in Model)
        {
            <div class="col-md-4 mb-4">
                <a asp-controller="GameDetails" asp-action="Index" asp-route-id="@game.Id" class="text-decoration-none">
                    <div class="card bg-dark text-light border-danger h-100">
                        <img src="@(!string.IsNullOrEmpty(game.ImageUrl) ? game.ImageUrl : "https://media.gq-magazine.co.uk/photos/645b5c3c8223a5c3801b8b26/16:9/w_1920,c_limit/100-best-games-hp-b.jpg")" alt="@game.Name" class="card-img-top" style="height: 200px; object-fit: cover;" />
                        <div class="card-body">
                            <h5 class="card-title">@game.Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@game.GenreName - @game.GameType.Name</h6>
                            <p class="card-text">@game.Description</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}
